<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='title.css') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="static/title.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="animated-title">
        <div class="text-top">
          <div>
            <span>Welcome To</span>
            <span>Dialog v1.0</span>
          </div>
        </div>

        <div class="text-bottom">
          <div>"Chatting Freely"</div>
        </div>
      </div>
    </body>
<script>
    setTimeout(function() {
        window.location.href="username.html";
    }, 5000);
</script>
</html>